.square {
  height: 48px;
  width: 48px;
  display: inline-block;
  border-radius: 5px;
}

.grid-row {
  height: 48px;
}

.food {
  background-color: #D6B16A;
  border-radius: 24px;
}

.snake {
  /*background-color: #13A69C;*/
  background-image: url("logo_ship_90.png");
  background-size: 48px 48px;
  background-repeat: no-repeat;
}

.board {
  border: 2px solid grey;
  background-color: #00618C;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.loss-message {
  text-align: center;
  padding: 50px;
}
